[user]
  name = i544c
  email = leo@i544c.me
  signingkey = Leo Sato <leo@i544c.me>

[core]
  editor = nvim

[commit]
  gpgsign = true

[fetch]
  prune = true

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[interactive]
  diffFilter = diff-highlight

[ghq]
  root = ~/src
