[user]
  name = Sato Reo
  email = sato_reo@giginc.co.jp
  signingkey = Sato Reo <sato_reo@giginc.co.jp>

[core]
  editor = nvim

[commit]
  gpgsign = true

[fetch]
  prune = true

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[interactive]
  diffFilter = diff-highlight

[ghq]
  root = ~/src
